# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# PyInstaller
build/
dist/


# Installer output
installer_output/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.logsecrets*.toml
secrets*.json
